<p id="notice"><%= notice %></p>

<h1>Sentences</h1>

<% @sentences.each do |sentence| %>
  <p><%= sentence.text %></p>
  <p><%= sanitize sentence.tagged, tags: %w[mark strong] %></p>

  <%= form_with model: Entity.new do |form| %>
  <%= form.hidden_field :sentence_id, value: sentence.id %>
  <%= form.label :text, 'Selected words' %>
  <%= form.text_field :text %>
  <%= form.collection_select :type_id, Type.all, :id, :name %>
  <%= form.button 'Tag' %>
<% end %>
<% end %>

<%
=begin %>
<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.text %></td>
        <td><%= link_to 'Show', sentence %></td>
        <td><%= link_to 'Edit', edit_sentence_path(sentence) %></td>
        <td><%= link_to 'Destroy', sentence, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Sentence', new_sentence_path %>
<%
=end %>
