<p id="notice"><%= notice %></p>

<h1>Sentences</h1>

<% @sentences.each do |sentence| %>
  <p><%= sentence.text %></p>
  <p><%= sanitize sentence.tagged, tags: %w[mark strong] %></p>

  <%= form_with model: Entity.new do |form| %>
    <%= form.hidden_field :sentence_id, value: sentence.id %>
    <%= form.label :text, 'Selected words' %>
    <%= form.text_field :text %>
    <%= form.collection_select :type_id, Type.all, :id, :name %>
    <%= form.button 'Tag' %>
  <% end %>
<% end %>

<h2>Add a sentence</h2>
<%= form_with model: Sentence.new do |form| %>
  <%= form.label :text, 'Sentence text' %>
  <%= form.text_field :text %>
  <%= form.submit %>
<% end %>
